<app-navbar></app-navbar>
<section>
<div class="jumbotron jumbotron-fluid">
   <div class="container">      
      <!--<img src="../assets/icons/jumbotron-2.png" class="" alt="Oferta">-->
     <h1 class="display-4 text-title">Comprando más de diez productos </h1>
     <p class="lead text-title"> Por fecha especial se hace un descuento general de $300 en carrito seleccionado. </p>
   </div>
 </div>
 
<div class="container container-home"> 
   <router-outlet> </router-outlet>
</div>

</section>

<app-footer></app-footer>
